* {
  /*outline: 1px solid red;*/
}

body {
  background-color: #F1F0F4;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 600px;
  padding: 24px;
}

header {
  height: 84px;
}

h1 {
  display: inline-block;
  position: relative;
  top: 4px;
}

.counter {
  float: right;
  font-size: 32px;
  padding: 24px 0;
}

@media (max-width: 425px) {
  h1 {
    display: block;
  }

  .counter {
    float: none;
    font-size: inherit;
    padding: 0;
    page-break-after: inherit;;
  }
}

.count {
  margin-right: 8px;
}

form {
  display: flex;
  margin: 16px 0;
}

input[type=text] {
  border-radius: 5px;
  border: 1px solid #CCC;
  flex: 5;
  padding: 12px;
}

input:focus {
  outline: none;
}

input[type=submit] {
  background-color: #049BD7;
  border-radius: 5px;
  border: 1px solid #0A86B7;
  color: white;
  flex: 1;
  font-weight: 600;
  height: 44px;
  margin-left: 12px;
}

input[type=submit]:hover {
  cursor: pointer;
}

.no-todos {
  text-align: center;
  font-size: 24px;
  color: #CCC;
  padding: 48px 0;
}

.todo-items {
  list-style: none;
  padding: 20px;
}

.todo-item {
  padding: 8px;
}

input[type=checkbox] {
  bottom: 1px;
  margin-right: 10px;
  position: relative;
}

input[type=checkbox]:checked + span {
  opacity: 0.2;
  text-decoration: line-through;
}

footer a {
  color: #B4B4B4;
  font-size: 14px;
}

footer .github-source {
  color: #B4B4B4;
  font-size: 14px;
  margin-top: 32px;
  text-align: center;
}

footer .fa-github {
  font-size: 18px;
  margin-right: 2px;
}

.hidden {
  display: none;
}
