.content {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 12px rgba(0,0,0,.2);
  margin: 0 auto;
  padding: 20px 40px;
}

.content-width {
  max-width: 80%;
}

header {
  background: linear-gradient(180deg, #26C380, #079458);
  height: 80px;
}

header a,
footer a {
  text-decoration: none;
}

header a {
  color: white;
}

header .title {
  float: left;
  margin-left: 28px;
}

header nav {
  float: right;
  margin-right: 28px;
}

nav li,
main li,
footer li {
  list-style: none;
}

nav ul {
  margin-top: 20px;
  padding-left: 0;
}

nav li:last-child {
  margin-left: 6px;
}

nav li,
footer li {
  display: inline;
}

nav a,
.button {
  background-color: #069456;
  border-radius: 5px;
  border: 1px solid #09834E;
  box-shadow: 0 2px #057946;
  color: white;
  display: inline-block;
  font-weight: 600;
  height: 40px;
  line-height: 42px;
  text-align: center;
  width: 90px;
}

.media {
  border-bottom: 1px solid #E2E2E2;
  box-shadow: 0 1px #CCCCCC;
  overflow: auto;
  padding: 24px 0;
}

.media:last-child {
  border-bottom: 0;
  box-shadow: none;
}

.media-object {
  float: left;
}

.media-body {
  margin-left: 100px;
  padding-right: 30px;
}

.media-body p {
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}

main,
footer {
  background-color: #F1F0F5;
}

main {
  padding: 48px 0 30px 0;
}

main img {
  border-radius: 5px;
  float: left;
}

.tweets {
  margin: 0;
  padding-left: 0;
}

.tweet {
  border-color: #CCCCCC;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 8px;
  padding: 12px;
  width: 100%;
}

form {
  position: relative;
}

.count {
  bottom: 58px;
  font-weight: 600;
  position: absolute;
  right: 12px;
}

.like,
.like-count {
  font-size: 20px;
}

.like {
  font-weight: 600;
  color: #069456;
  margin-right: 8px;
}

footer {
  padding: 20px 0 60px 0;
}

footer ul {
  margin: 0;
  padding-left: 0;
  text-align: center;
}

footer li {
  margin-right: 30px;
}

footer a {
  color: #B4B4B4;
  font-size: 14px;
}

footer .github-source {
  color: #B4B4B4;
  font-size: 14px;
  margin-top: 32px;
  text-align: center;
}

footer .fa-github {
  font-size: 18px;
  margin-right: 2px;
}
